body, html {
  margin: 0;
  padding: 0;
}

body {
  background: #f5f7f9;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

header {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
  height: 80px;
}

#media-list {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}

.media-list-item {
  width: 21%;
  overflow: hidden;
  margin: 2%;
}

.media-list-item .thumbnail {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #d0d0d0;
}

.media-list-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media-list-item h3 {
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 4px;
  font-weight: 600;
  color: #2c3c4c;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  word-break: normal;
  text-overflow: ellipsis;
}
